// reset style
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0


// main style
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic')
$fontMontserrat: 'Montserrat', sans-serif
$coloWhite: #FFFFFF
$coloBlack: #0D0D0D
$colorDifGray: #141414
$colorBg: #0D0D0D
$colorLiteGray: #ECECEB
$colorBgLiteGray: #F3F3F1

$colorRed: #EB5656
$colorYellow: #EBC156
$colorGreen: #56EBAC
$colorBlue: #56C7EB
$colorPurple: #C87DF6

$colorTextGray: rgba(20, 20, 20, .5)
$colorDarkGray:  #171717

*
  outline: 0 !important
button
  cursor: pointer

html
  overflow-y: scroll
  overflow-x: auto


body
  width: 100%
  height: 100vh
  font-family: $fontMontserrat
  position: relative
  display: flex
  background: $coloBlack
  color: $coloWhite
  //overflow-x: hidden


header,
.menu_pop,
.request_pop
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 84px
  z-index: 99
  .header-wrapper
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin: 20px 0 0 0
    position: relative
    .header-wrapper_left
      display: flex
      align-items: center
      .main-logo
        margin-left: 64px
        margin-right: 107px
      .btn-box
        height: 52px

    .header-wrapper_right
      display: flex
      align-items: center
      margin-top: 4px
      .tel
        a
          font-style: normal
          font-weight: 600
          line-height: 18px
          font-size: 12px
          letter-spacing: 0.1em
          color: $coloWhite
          text-decoration: none
      .request
        margin-left: 137px
        margin-right: 80px
        #request,
        #request2,
        #requestHide
          background: transparent
          color: $coloWhite
          border: none
          padding: 0
          margin: 0
          font-style: normal
          font-weight: bold
          line-height: 20px
          font-size: 14px
          display: flex
          align-items: center
          text-decoration:
          span:first-child
            text-decoration: underline
          span:last-child
            color: $coloWhite
            margin-left: 22px
            font-size: 30px
            font-weight: 300
    .left_wrapper
      position: absolute
      left: 64px
      top: 64px
      width: 26px
      height: calc(98vh - 84px)
      display: flex
      flex-direction: column
      justify-content: space-evenly
      .leng_wrapper
        .leng-link
          li
            display: flex
            align-items: center
            justify-content: center
            a
              text-decoration: none
              font-style: normal
              font-weight: 600
              line-height: 16px
              font-size: 10px
              letter-spacing: 0.1em
              text-transform: uppercase
              color: $coloWhite

      .social_wrapper
        .social-link
          li
            height: 70px
            position: relative
            a
              display: flex
              align-items: center
              justify-content: center
              width: 100%
              height: 100%
              text-decoration: none
              font-style: normal
              font-weight: 600
              line-height: 16px
              font-size: 10px
              letter-spacing: 0.1em
              text-transform: uppercase
              color: $coloWhite
              span
                transform: rotate(-90deg)
                display: flex
                align-items: flex-start
                line-height: 0
                height: 10px
              &:after
                content: ''
                display: block
                width: 0.5px
                height: 0
                background: $coloWhite
                position: absolute
                top: 6%
                left: 14px
                transform: rotate(-180deg)
                transition: height .15s linear
              &:hover
                &:after
                  height: 90%


            &:nth-child(2)
              margin: 30px 0

.request_pop
  .header-wrapper
    .header-wrapper_right
      .tel
        a
          color: $coloBlack
      .request
        #requestHide
          color: $coloBlack
          span:last-child
            color: $coloBlack
    .left_wrapper
      .leng_wrapper
        .leng-link
          li
            a
              color: $coloBlack
      .social_wrapper
        .social-link
          li
            a
              color: $coloBlack
              &:after
                background: $coloBlack


header.header_white
  background: $coloWhite
  .header-wrapper
    .header-wrapper_left
      .main-logo
        a
          svg
            path
              fill: $coloBlack


      .btn-box
        #btn
          span
            background: $coloBlack

    .header-wrapper_right
      .tel
        a
          color: $coloBlack
      #request
        color: $coloBlack
        span:last-child
          color: $coloBlack
    .left_wrapper
      .leng_wrapper
        .leng-link
          li
            a
              color: $coloBlack
      .social_wrapper
        .social-link
          li
            a
              color: $coloBlack
              &:after
                background: $coloBlack


#btn,
#btn2
  background: transparent
  border: none
  min-width: 39px
  padding: 0
  margin: 0
  margin-top: 6px
  span
    background: $coloWhite
  span:first-child,
  span:last-child
    transition: width .15s linear
    display: block
    width: 27px
    height: 2px
  span:nth-child(2)
    transition: width .15s linear
    display: block
    width: 39px
    height: 2px
    margin: 4px 0
  &:hover
    span:first-child,
    span:last-child
      transition: width .15s linear
      width: 39px
    span:nth-child(2)
      transition: width .15s linear
#btn2
  span
    background: $coloBlack
#btnHide
  display: flex
  border: none
  align-items: center
  justify-content: center
  background: transparent
  padding: 0
  width: 30px
  height: 30px
  span
    width: 30px
    height: 2px
    background: $coloWhite

  span:first-child
    position: absolute
    transform: rotate(45deg)
  span:last-child
    position: absolute
    transform: rotate(-45deg)


.h1
  font-style: normal
  font-weight: bold
  line-height: normal
  font-size: 78px


.h3
  font-style: normal
  font-weight: 600
  line-height: 86px
  font-size: 59px

.bread_crumbs
  font-style: normal
  font-weight: 600
  line-height: 16px
  font-size: 10px
  letter-spacing: 0.1em
  text-transform: uppercase
  color: $colorDifGray


div#main
  //margin-top: 84px
  //width: 100%
  width: 100vw
  .main-wrapper
    border: 1px dotted grey
    width: 100%
    max-width: 1000px
    margin: 0 auto

div#main.main-hide
  display: none!important


section.front_01
  display: flex
  align-items: flex-start
  justify-content: center
  height: calc(100vh + 58px)
  background-image: url("../img/bg.png")
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  position: relative
  .description
    width: 100%
    height: 90%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: flex-end
    p
      max-width: 64vw
      font-style: normal
      font-weight: 500
      line-height: 51px
      font-size: 35px
      color: $coloWhite
      margin-right: 11vw

  &:after
    content: ''
    display: block
    width: 1px
    height: 100px
    background: $coloWhite
    position: absolute
    bottom: 58px
    left: 50%
  &:before
    content: ''
    display: block
    width: 3px
    height: 6px
    border-top: 4px solid $coloBlack
    border-bottom: 4px solid $coloBlack
    background: transparent
    position: absolute
    z-index: 9
    bottom: 152px
    left: calc(50% - 1px)
    animation-name: dot
    animation: dot 2s infinite ease-in-out
    animation-direction: alternate


section.front_02
  width: 100%
  height: 100vh
  .description
    .title
      width: 100%
      height: 20vh
      display: flex
      align-items: center
      h3
        font-style: normal
        font-weight: 500
        line-height: 51px
        font-size: 35px
        color: $coloWhite
        margin-left: 25vw

    .number-wrapper
      display: flex
      height: 80vh
      justify-content: flex-end
      align-items: center
      .number_box
        max-width: 260px
        display: flex
        flex-direction: column
        span:first-child
          font-weight: 500
          line-height: 0.5
          font-size: 35px
          text-align: right
          color: #FFFFFF
        span:nth-child(2)
          font-weight: 600
          font-size: 136px
          text-transform: uppercase
          color: $coloWhite
          line-height: 0.7
        span:last-child
          font-weight: 600
          font-size: 10px
          letter-spacing: 0.1em
          text-transform: uppercase
          color: $coloWhite
          height: 30px
          display: flex
          align-items: flex-end
          justify-content: flex-end

      .number-row
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        width: 70vw
        margin-right: 5vw
        height: max-content
        .number_flex
          display: flex
          flex: 49%
          margin: 0 0 6vh 0
        .number_flex:first-child,
        .number_flex:nth-child(2)
          display: flex
          justify-content: flex-end


section.front_service
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  justify-content: flex-end
  overflow: hidden
  .front_service_wrapper
    width: 100%
    max-width: 80vw
    margin-right: 5vw
    .front_service_link
      width: 100%
      height: 100%
      min-height: 50vh
      display: flex
      align-items: center
      justify-content: center
      color: $coloWhite
      text-decoration: none
      background: $colorDarkGray
      position: relative
      .description_servise
        display: block
        width: 100%
        height: 100%
        z-index: 99
        span
          font-style: normal
          font-weight: 600
          line-height: 16px
          font-size: 10px
          letter-spacing: 0.1em
          text-transform: uppercase
          color: $coloWhite
          margin: 4% 0 0 8%
          display: block
        h3
          color: $coloWhite
          margin: 4% 0 0 8%
          width: max-content
          max-width: 90%
          position: relative
          &:after
            content: ' '
            display: block
            width: 0
            height: 2px
            background: $coloWhite
            transition: width .15s linear
            position: absolute
            bottom: 14px

        p
          max-width: 40%
          margin: 2% 0 8% 8%
          font-style: normal
          font-weight: normal
          line-height: 34px
          font-size: 20px
          letter-spacing: 0.03em
          color: $coloWhite
        &:after
          content: ''
          display: block
          width: 70%
          height: 120%
          position: absolute
          top: -10%
          left: 40%
          transition: all .15s linear

      .background_servise
        width: 60%
        height: 100%
        position: absolute
        top: 0
        right: 0
        &:before
          content: ''
          width: 100%
          height: 100%
          position: absolute
          background: url("../img/dbgb.png")
          opacity: .85

      .front_service_button
        position: absolute
        z-index: 999
        right: 15%
        bottom: 10%
        display: flex
        align-items: center
        .read
          font-style: normal
          font-weight: 600
          line-height: 16px
          font-size: 10px
          letter-spacing: 0.1em
          text-transform: uppercase
          color: $coloWhite
          &:after
            content: ' '
            display: block
            width: 0
            height: 1px
            background: $coloWhite
            position: absolute
            left: 86px
            bottom: 8px
            transition: width .15s linear

        .line
          width: 7px
          height: 7px
          border-top: 1px solid $coloWhite
          border-right: 1px solid $coloWhite
          transform: rotate(45deg)
          position: absolute
          right: -36px
          transition: all .15s linear

    .service_web
      .description_servise:after
        background: url("../img/W.png")
        background-repeat: no-repeat
        background-position: left center
        background-size: contain
        transition: all .15s linear
      .background_servise
        background: url("../img/w.png")
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        transition: all .15s linear

    .service_seo
      .description_servise:after
        background: url("../img/S.png")
        background-repeat: no-repeat
        background-position: left center
        background-size: contain
        transition: all .15s linear
      .background_servise
        background: url("../img/seo.png")
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        transition: all .15s linear

    .service_ppc
      .description_servise:after
        background: url("../img/P.png")
        background-repeat: no-repeat
        background-position: left center
        background-size: contain
        transition: all .15s linear
      .background_servise
        background: url("../img/ppc.png")
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        transition: all .15s linear

    .service_smm
      .description_servise:after
        background: url("../img/S.png")
        background-repeat: no-repeat
        background-position: left center
        background-size: contain
        transition: all .15s linear
      .background_servise
        background: url("../img/smm.png")
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        transition: all .15s linear

    .service_complex
      .description_servise:after
        background: url("../img/C.png")
        background-repeat: no-repeat
        background-position: left center
        background-size: contain
        transition: all .15s linear
      .background_servise
        background: url("../img/complex.png")
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        transition: all .15s linear

    .front_service_link:hover
      .description_servise
        h3:after
          transition: width .15s linear
          width: 100%
        &:after
          width: 72%
          height: 122%
          background-position-x: 10px
          transition: all .15s linear

      .background_servise
        background-position: top center
        transition: all .15s linear
        width: 61%
      .front_service_button
        .line
          transition: all .15s linear
          right: -76px

        .read
          &:after
            transition: width .15s linear
            width: 48px


.last_service
  position: relative
  &:after
    content: ''
    display: block
    width: 1px
    height: 100px
    background: $coloWhite
    position: absolute
    bottom: 0px
    left: 50%
  &:before
    content: ''
    display: block
    width: 3px
    height: 6px
    border-top: 4px solid $coloBlack
    border-bottom: 4px solid $coloBlack
    background: transparent
    position: absolute
    z-index: 9
    bottom: 148px
    left: calc(50% - 1px)
    animation-name: dot2
    animation: dot2 2s infinite ease-in-out
    animation-direction: alternate


section.front_clients
  width: 100%
  height: 100vh
  display: flex
  align-items: flex-end
  justify-content: flex-end
  overflow: hidden
  color: $coloBlack
  background: $colorLiteGray
  .front_clients_wrapper
    width: 100%
    max-width: 66vw
    margin-right: 10vw
    height: calc(100% - 84px)
    color: $coloBlack
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-evenly
    .title
      width: 100%
      height: max-content
      display: flex
      align-items: center
    .icon_wrapper
      width: 100%
      min-height: 30%
      height: max-content
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      .icon_box
        display: flex
        align-items: center
        width: 33%
        justify-content: flex-end
        img
          transition: all .15s linear
          width: 50%
        &:nth-child(4),
        &:nth-child(5),
        &:last-child
          justify-content: flex-start


section.front_form
  width: 100%
  height: 100vh
  display: flex
  align-items: flex-end
  overflow: hidden
  color: $coloBlack
  background: $coloWhite
  .form-box
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center


section.front_posts
  width: 100%
  height: 100vh
  display: flex
  align-items: flex-end
  justify-content: flex-end
  overflow: hidden
  color: $coloBlack
  background: $colorLiteGray
  .front_posts_wrapper
    width: 100%
    height: calc(100% - 84px)
    max-width: 66vw
    margin-right: 10vw
    .title_row
      display: flex
      align-items: center
      justify-content: space-between
      height: 30%
      .more
        font-style: normal
        font-weight: bold
        line-height: 20px
        font-size: 14px
        text-decoration-line: underline
        color: $coloBlack

    .content_row
      display: flex
      align-items: flex-start
      justify-content: space-between
      height: 70%
      position: relative
      .post_box
        width: 100%
        max-width: 45%
        height: 70%
        .post_box_link
          display: flex
          flex-direction: column
          align-items: flex-start
          //justify-content: space-between
          width: 100%
          height: 100%
          text-decoration: none
          color: $coloBlack
          .post_img
            width: 100%
            height: auto
          .post_data
            font-style: normal
            font-weight: normal
            line-height: 20px
            font-size: 12px
            letter-spacing: 0.04em
            margin-top: 24px
          .post_teaser_text
            font-style: normal
            font-weight: 500
            line-height: 26px
            font-size: 18px
            margin-top: 11px


section.front_description
  width: 100%
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: flex-end
  overflow: hidden
  color: $coloBlack
  background: $coloWhite
  .front_description_wrapper
    width: 100%
    max-width: 66vw
    margin-right: 10vw
    .title
      font-weight: 600
      line-height: 25px
      font-size: 16px
      letter-spacing: 0.03em
      margin-bottom: 6%
    .description_content
      .description_text
        display: inline-block
        position: relative
        columns: 2
        p
          font-style: normal
          font-weight: normal
          line-height: 22px
          font-size: 14px
          letter-spacing: 0.03em
          color: $colorTextGray
          margin: 0 0 16px 0

      .row_text
        margin: 0 auto
        text-decoration: none
        width: 50px
        height: 50px
        position: relative
        display: flex
        align-items: center
        justify-content: center
        margin-top: 10%
        &:after
          content: ''
          display: block
          width: 10px
          height: 10px
          border-bottom: 2px solid $coloBlack
          border-right: 2px solid $coloBlack
          transform: rotate(45deg)
      .row_text.row_up
        &:after
          transform: rotate(-135deg)


section.request_section
  .request_section_wrapper
    height: 70vh
    #frontFooterRequest
      display: flex
      align-items: center
      justify-content: space-evenly
      width: 100%
      height: 100%
      background: url("../img/svg/image.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      text-decoration: none
      span
        font-style: normal
        font-weight: 600
        line-height: 86px
        font-size: 59px
        color: $coloWhite

      .link_title
        max-width: 500px
        span
          position: relative
          display: flex
          width: max-content
          &:after
            content: ''
            display: block
            width: 0px
            height: 1px
            background: $coloWhite
            transition: width .15s linear
            position: absolute
            bottom: 14px

      .link_icon
        display: flex
        align-items: center
        justify-content: center
        min-width: 70px
        span
          transition: all .15s linear
          line-height: 1
          font-weight: 200
          font-size: 60px

      &:hover
        .link_title
          span
            &:after
              width: 100%
              transition: width .15s linear
        .link_icon
          span
            transition: all .15s linear
            transform: rotate(90deg)
            font-size: 120px
            font-weight: 100


section.contact
  width: 100%
  height: 94vh
  display: flex
  align-items: center
  position: relative
  &:after
    content: ''
    display: block
    width: 50%
    height: 100%
    position: absolute
    top: 0
    right: 0
    background: url("../img/image_contact_bg.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    z-index: -1

  .contact_wrapper
    width: 100%
    max-width: 62vw
    margin-left: 22vw
    margin-right: 16vw
    .title
      font-style: normal
      font-weight: bold
      font-size: 78px
      line-height: normal
      color: $coloWhite

    .description
      margin-top: 84px
      display: flex
      flex-direction: column
      font-style: normal
      font-weight: 500
      font-size: 12px
      line-height: 19px
      letter-spacing: 0.03em
      a
        text-decoration: none
        color: $coloWhite
      a.mail
        text-decoration: underline
        margin: 16px 0


section.map_section
  width: 100%
  height: 80vh


.menu_pop
  width: 0
  position: fixed
  overflow: hidden

.menu_pop_active
  transition: width .15s linear
  width: 100vw
  background: $colorBg
  height: 100vh
  position: fixed
  top: 0
  left: 0
  overflow: hidden
  .header-wrapper
    .menu_pop_bg_logo
      width: 100%
      position: absolute
      top: calc( 50vh - 170px )
      svg
        width: 100%
        height: auto
        opacity: .9

  .menu_pop_wrapper
    width: 100%
    height: 75vh
    max-width: 781px
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    .menu_box
      ul
        display: flex
        flex-direction: column
        flex-wrap: wrap
        max-height: 400px
        li
          max-width:  504px
          height: 52px
          margin: 0 0 15px 0
          a
            text-decoration: none
            font-style: normal
            font-weight: 500
            line-height: 51px
            font-size: 35px
            color: $coloWhite


.request_pop
  background: $coloWhite
  width: 100vw
  height: 0
  position: fixed
  top: 0
  left: 0
  overflow-x: hidden
  overflow-y: scroll
  transition: height .15s linear
  .form-box
    width: 100%
    margin-top: 84px
    min-height: calc( 100vh - 84px )
    color: $coloBlack
    display: flex
    align-items: center
    justify-content: center
  .request_header_fix
    position: fixed
    width: 100%


.footer-box
  width: 100%
  height: 580px
  color: $coloWhite
  background: $coloBlack
  .footer-wrapper
    width: 100%
    height: calc( 100% - 100px )
    margin: 0 auto
    display: flex
    justify-content: space-around
    padding-top: 100px
    .footer-list-block
      min-width: 300px
      ul
        li
          margin-bottom: 10px
          a
            font-style: normal
            font-weight: normal
            line-height: 34px
            font-size: 20px
            letter-spacing: 0.03em
            color: $coloWhite
            text-decoration: none

    .footer-address-block
      width: 300px
      display: flex
      flex-direction: column
      justify-content: space-between
      .address_content
        font-style: normal
        font-weight: 500
        line-height: 19px
        font-size: 12px
        letter-spacing: 0.03em
        color: $coloWhite
        p
          a
            width: 100%
            display: block
            color: $coloWhite
        .mail
          color: $coloWhite
          display: block
          margin: 40px 0
        .phone-block
          a
            display: block
            text-decoration: none
            color: $coloWhite
            margin: 4px 0


      .copi
        margin-bottom: 53px
        font-style: normal
        font-weight: 500
        line-height: 20px
        font-size: 12px
        letter-spacing: 0.03em
        color: $coloWhite


.request_pop_active
  transition: height .15s linear
  height: 100%
  z-index: 999
  #requestHide
    cursor: inherit


.hide
  display: none


@keyframes dot
  0%
    bottom: 148px
  100%
    bottom: 58px

@keyframes dot2
  0%
    bottom: 140px
  100%
    bottom: -2px



// template_service
body.template_service
  background: $colorBgLiteGray
  color: $coloBlack
  height: auto
  overflow: hidden
  header
    background: $colorBgLiteGray
    .header-wrapper
      .header-wrapper_left
        .main-logo
          a
            svg
              path
                fill: $coloBlack

        .btn-box
          #btn
            span
              background: $coloBlack

      .header-wrapper_right
        .tel
          a
            color: $coloBlack
        .request
          #request
            color: $coloBlack
            span:last-child
              color: $coloBlack

      .left_wrapper
        .leng_wrapper
          .leng-link
            li
              a
                color: $coloBlack

        .social_wrapper
          .social-link
            li
              a
                color: $coloBlack
                &:after
                  background: $coloBlack

  #main
    margin-top: 84px
    .template_service_wrapper
      width: 100%
      max-width: 62vw
      margin-left: 22vw
      margin-right: 16vw

    .template_service_wrapper-case
      width: 100%
      max-width: 74vw
      margin-left: 22vw
      margin-right: 4vw

    .template_service_section_hed
      width: 100%
      height: calc(100vh - 84px - 42px)
      .template_service_section_hed_wrapper
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-evenly
        .bread_crumbs
          height: 20%
          display: flex
          align-items: center

        .h1
          height: 40%
          display: flex

        .service_section_hed_slogan
          height: 40%
          overflow: hidden
          p
            font-style: normal
            font-weight: normal
            line-height: 34px
            font-size: 20px
            letter-spacing: 0.03em

    .template_service_section_after_hed
      width: 100%
      height: 50vh

    .template_service_section_hed_description
      width: 100%
      min-height: 50vh
      position: relative
      display: flex
      align-items: center
      padding: 20px 0
      .template_service_wrapper
        font-style: normal
        font-weight: 600
        line-height: 25px
        font-size: 16px
        letter-spacing: 0.03em
        color: $colorBg
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        h5
          width: 100%
          margin-bottom: 20px
        p
          font-weight: 300
          width: 49%

    .template_service_section_main-text
      width: 100%
      height: calc(100vh - 84px - 100px)
      display: flex
      align-items: center

      margin-bottom: -100px
      padding-bottom: 100px
      .main-text
        font-style: normal
        font-weight: 500
        font-size: 35px
        line-height: 51px
        color: $colorBg

    .template_service_section_case
      .template_service_wrapper-case
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .head_case
          width: 100%
          min-width: 100%
          .head_case-img
            img
              width: 100%
              height: auto
              margin-bottom: 31px
            p
              font-style: normal
              font-weight: normal
              font-size: 14px
              line-height: 22px
              letter-spacing: 0.03em
              color: $coloBlack
          .head_case-text
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 34px
            letter-spacing: 0.03em
            color: $coloBlack
            margin: 25vh 12vw 25vh 0


        .left_case
          width: 100%
          max-width: 27vw
          .case
            margin-bottom: 125px

        .right_case
          width: 100%
          max-width: 33vw
          .case
            margin-bottom: 185px

        .left_case,
        .right_case
          position: relative
          .case
            width: 100%
            height: auto
            .case_url
              display: block
              position: relative
              text-decoration: none
              .case_url_img
                position: relative
                display: flex
                align-items: flex-start
                img
                  width: 100%
                  height: auto
                  position: relative
                &:after
                  content: ''
                  display: block
                  width: 100%
                  height: 100%
                  position: absolute
                  top: 0
                  left: 0
                  z-index: 1
                  background: rgba(0, 0, 0, 0)
                  transition: all .15s ease-in-out
                &:before
                  content: 'View Case'
                  display: flex
                  align-items: center
                  justify-content: center
                  width: 100%
                  height: 100%
                  position: absolute
                  top: 0
                  left: 0
                  z-index: 2
                  font-style: normal
                  font-weight: normal
                  font-size: 20px
                  line-height: 34px
                  text-align: center
                  letter-spacing: 0.03em
                  color: transparent
                  transition: all .15s ease-in-out

              .case_url_text
                margin-top: 18px
                font-style: normal
                font-weight: 500
                font-size: 18px
                line-height: 26px
                color: $colorBg


              &:hover
                .case_url_img
                  &:after
                    background: rgba(0, 0, 0, 0.5)
                    transition: all .15s ease-in-out

                  &:before
                    color: $coloWhite
                    transition: all .15s ease-in-out

    .template_service_section_pre-footer
      width: 100%
      height: calc(100vh - 84px)
      background: $coloBlack
      display: flex
      align-items: center
      box-sizing: border-box
      margin-top: -200px
      padding-top: 200px
      .template_service_wrapper
        .pre-footer_text
          font-style: normal
          font-weight: normal
          font-size: 20px
          line-height: 34px
          letter-spacing: 0.03em
          color: $colorBg

    .template_service_section_footer
      width: 100%
      height: 50vh
      background: $coloBlack
      .section_footer_list
        display: flex
        height: 100%
        li
          display: flex
          width: 50vw
          height: 100%
          a
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            width: 100%
            height: 100%
            text-decoration: none
            color: $coloWhite
            background: url("../img/svg/image_68.svg")
            background-size: cover
            background-repeat: no-repeat
            background-position: center center
            position: relative
            span
              color: $coloWhite
              z-index: 9
              max-width: 318px
              min-width: 318px
              height: auto
            .footer_list_breadcrumbs
              font-style: normal
              font-weight: 600
              line-height: 16px
              font-size: 10px
              letter-spacing: 0.1em
              text-transform: uppercase
              margin-bottom: 6px

            .footer_list_title
              font-style: normal
              font-weight: 500
              line-height: 51px
              font-size: 35px
              min-height: 110px


            transition: all .35s linear
            &:before
              content: ''
              width: 100%
              height: 100%
              position: absolute
              background: $coloBlack
              opacity: 1
              transition: all .35s linear
            &:hover
              transition: all .35s linear
              &:before
                transition: all .35s linear
                opacity: .9
    .template_service_section_banner
      width: 100vw
      height: 70vh
      background: url("../img/svg/image_banner_mc.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center


// template_service + template_web
body.template_service.template_web
  #main
    .template_service_section_hed
      position: relative
      &:after
        content: ''
        display: flex
        align-items: center
        width: 52vw
        height: 100%
        position: absolute
        top: 0
        right: 0
        background: url("../img/svg/W.svg")
        background-repeat: no-repeat
        background-size: contain
        background-position: center center


    .template_service_section_hed,
    .template_service_section_main-text
      background: $colorRed
    .template_service_section_after_hed
      background: url("../img/svg/image_68.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center


// template_service + template_ppc
body.template_service.template_ppc
  header
    background: transparent
  #main
    margin-top: 0
    .template_service_section_hed
      padding-top: 84px
      position: relative
      &:after
        content: ''
        display: flex
        align-items: center
        width: 52vw
        height: calc(70% - 84px)
        position: absolute
        top: calc(15% + 84px)
        right: 0
        background: url("../img/svg/P.svg")
        background-repeat: no-repeat
        background-size: contain
        background-position: center center


    .template_service_section_hed,
    .template_service_section_main-text
      background: $colorGreen
    .template_service_section_after_hed
      background: url("../img/svg/image_ppc.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center


// template_service + template_cim
body.template_service.template_cim
  header
    background: transparent
  #main
    margin-top: 0
    .template_service_section_hed
      padding-top: 84px
      position: relative
      &:after
        content: ''
        display: flex
        align-items: center
        width: 52vw
        height: calc(70% - 84px)
        position: absolute
        top: calc(15% + 84px)
        right: 0
        background: url("../img/svg/C.svg")
        background-repeat: no-repeat
        background-size: contain
        background-position: center center

    .template_service_section_hed,
    .template_service_section_main-text
      background: $colorPurple
    .template_service_section_after_hed
      background: url("../img/svg/image_cim.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center


// template_service + template_seo
body.template_service.template_seo
  header
    background: transparent
  #main
    margin-top: 0
    .template_service_section_hed
      padding-top: 84px
      position: relative
      &:after
        content: ''
        display: flex
        align-items: center
        width: 52vw
        height: calc(70% - 84px)
        position: absolute
        top: calc(15% + 84px)
        right: 0
        background: url("../img/svg/S.svg")
        background-repeat: no-repeat
        background-size: contain
        background-position: center center

    .template_service_section_hed,
    .template_service_section_main-text,
    .template_service_section_pre-footer
      background: $colorYellow
    .template_service_section_after_hed
      background: url("../img/svg/image_seo.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center

    .template_service_section_case
      .template_service_wrapper-case
        .left_case,
        .right_case
          .case:last-child
            margin-bottom: 0


// template_service + template_smm
body.template_service.template_smm
  header
    background: transparent
  #main
    margin-top: 0
    .template_service_section_hed
      padding-top: 84px
      position: relative
      &:after
        content: ''
        display: flex
        align-items: center
        width: 52vw
        height: calc(70% - 84px)
        position: absolute
        top: calc(15% + 84px)
        right: 0
        background: url("../img/svg/S.svg")
        background-repeat: no-repeat
        background-size: contain
        background-position: center center


    .template_service_section_hed,
    .template_service_section_main-text,
    .template_service_section_pre-footer
      background: $colorBlue
    .template_service_section_after_hed
      background: url("../img/svg/image_smm.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center

    .template_service_section_case
      .template_service_wrapper-case
        .left_case,
        .right_case
          .case:last-child
            margin-bottom: 0


// template_service + template_mc
body.template_service.template_mc
  #main
    .template_service_section_after_hed
      background: url("../img/svg/image_mc.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center

    .template_service_section_case
      .template_service_wrapper-case
        .head_case
          .head_case-img
            margin-bottom: 16vh

    .template_service_section_pre-footer
      background: inherit
      margin: 0
      padding: 0
      height: 70vh
